:root {
    --lbss-purple: #5a2d88;
    --lbss-gold: #fcc81d;
    --un-blue: #009edb;
}

#pageContent {
    flex: 1;
    padding: 60px 20px;
    text-align: center;
    font-size: 1.25rem;
    color: var(--lbss-purple);
}
